
.slider-images{
    height: 600px !important;
    object-fit: cover;
}

.service_icon{
    font-size: 90px ;
    color:blueviolet;
}


.background1{
    background-color: #8f939db0;
    font-size: 1.4rem;
}

.contact_img{
    border-radius: 4px;
}